<ion-content>
  <ion-text color="black">
    <h1 class="container">Login</h1>
  </ion-text>
  <div class="container">
    <ion-input class="input" type="email" placeholder="Email"></ion-input>
    <ion-input class="input" type="password" placeholder="Password"></ion-input>
    <div class="ion-text-center margin-top">
      <ion-button>Login</ion-button>
    </div>
    <div class="ion-text-center margin-top">
      <ion-router-link routerLink="/signup">Sign up</ion-router-link>
    </div>
  </div>
</ion-content>
